/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-width: 1100px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.menu {
  flex: 21;
  background-color: rgb(59, 161, 239);
  display: flex;
  flex-direction: column;
  min-width: 200px;
} 
.menu > * {
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 6%;
}

.icon, .profile {
  margin-left: 10%;
}

p.dashboard {
  font-size: 1.5rem;
  margin-left: .5rem;
  font-weight: 500;
}

.profile {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin-top: 12%;
  gap: 1rem;
} div {
  display: flex;
} 
.profile img {
  margin-left: 6px;
  margin-right: calc(6px + .5rem);
}
.profile p {
  align-self: center;
  font-weight: 600;
}

.main_page {
  flex: 79;
  display: flex;
  flex-direction: column;
}

.panel {
  flex: 22;
  box-shadow: 0px 8px 6px -6px red;
  display: flex;
  flex-direction: column;
}

.status {
  display: flex;
  margin: 2.5% 6% 0 4%;
  flex: 40;
  justify-content: space-between;
}
.search {
  flex: 7;
}

.notifications {
  flex: 3;
  justify-content: end;
} 

.notifications > img {
  margin-right: 6%;
  width: 24px;
  height: 24px;
  align-self: center;
}

.notifications > p {
  color: black;
  align-self: center;
  margin-left: 6%;
  font-weight: 700;
}

form {
  width: 80%;
  background-color: rgb(219, 233, 246);
  border-radius: 15px;
  margin-left: 3%;
}

.control {
  display: flex;
  margin: 2.5% 6% 1.5% 3%;
  justify-content: space-between;
  flex: 60;
}

.hi_there {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 10px;
}
#control-left > img {
  width: 48px;
  height: 48px;
  border-radius: 15px;
}
/*  border: 1px solid black; */
h6 {
  font-size: 1.3rem;
}
.hi_there > * {
  font-weight: 700;
}

#control-right > button {
  border-radius: 30px;
  background-color: rgb(59, 161, 239);
  width: 80px;
  align-self: center;
  height: 35px;
  margin-left: 20px;
  border: none;
  color: white;
  font-weight: 700;
}

.contents {
  background-color: rgb(219, 233, 246);
  display: grid;
  grid-template-columns: 72fr 28fr;
  grid-template-rows: 1fr 1fr;
  padding: 3% 2% ;
  gap: 2%;
  flex: 78;
}

.your_projects {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}
.your_projects > p,
.announcements > p,
.trending > p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 3%;
}
.project-cards > .cards {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(to right, orange 2%,white 2%);
  padding: 1.5rem 1rem;
  min-height: 130px;
}
.cards > h6 {
  font-size: 1rem;
  font-weight: 700;
}
.cards > p {
  font-size: .75rem;
}
.cards > div {
  justify-content: end;
  margin-top: 1rem;
}
.announcements {
  display: flex;
  flex-direction: column;
}
.announcements > div {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  padding: 0 1.5rem;
}

.announcement {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
.announcement > h6 {
  font-size: .75rem;
  font-weight: 700;
}
.announcement > p {
  font-size: .7rem;
}

.trending {
  display: flex;
  flex-direction: column;
}
.trending > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 0 1rem;
  
}

.trending_account {
  display: flex;
  padding: 1rem 0;
}

.trending_account > div {
  display: flex;
  flex-direction: column;
  margin-left: .9rem;
}

.trending_account p {
  font-size: .7rem;
  color: gray;
}

.trending_account h6 {
  font-size: .75rem;
  margin-bottom: 3px;
}

.trending_account img {
  height: 24px;
  width: 24px;
  align-self: center;
}